@import "tailwindcss";

:root {
  --bg-color: #F9FAFB;
  --text-color: #000000;
  --card-bg-color: #ffffff;
  --table-head: #F3F4F6;
  --hover-row: #F3F4F6;
}

.dark {
  /* --bg-color: #1e242d; */
  --bg-color: #1f2737;
  --text-color: #ffffff;
  --card-bg-color: #101828;
  --table-head: #1b2436;
  --hover-row: #1b2436;
}
